<!DOCTYPE html>
<html ng-app>
<head>
  <title></title>
  <script src="lib/angular.min.js"></script>
  <script src="js/main.js"></script>
</head>
<body>

<form id="form1" ng-controller="FormController">
  <div>
    <input type="text" ng-model="object.code"/>
  </div>

  <br/>

  <div>
    <input type="text" ng-model="object.name.first"/>
  </div>

  <br/>

  <div>
    <input ng-model="object.description" ng-list />
  </div>
  <br/>

  <br/>

  <div>
    <input type="button" value="Save" ng-click="save(object)"/>
  </div>
  <br>

  <br>
  <div>
    <div ><input type="text" ng-model="query" placeholder="search..."/>
    <input type="button" value="Search by code" ng-click="searchByCode(query)" />
    <input type="button" value="Search by name" ng-click="searchByName(query)" /></div>

    <br><br>
    <table border="1" style="padding: 3px;">
      <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="data in dataArr">
        <td><span ng-show="!editable" ng-bind="data.code"></span><input ng-show="editable" ng-model="data.code" /> </td>
        <td><span ng-show="!editable" ng-bind="data.name"></span><input ng-show="editable" ng-model="data.name" /></td>
        <td><span ng-show="!editable" ng-bind="data.description"></span><input ng-show="editable" ng-list ng-model="data.description" /></td>
        <td><input type="button" value="Edit" ng-show="!editable" ng-click="editable=true"/>
          <input type="button" value="Update" ng-show="editable" ng-click="editable=false; save(data)"/></td>
        <td><input type="button" value="Delete" ng-click="delete(data)" /></td>
      </tr>
      </tbody>
    </table>
  </div>
  <br/>
</form>
</body>
</html>