.page-break { page-break-after:always;}

div.summary-info {
    page-break-after: always;
}

div.requisition-info {
    page-break-after: always;
}

/*.tableColumn {*/
    /*width: 20px;*/
/*}*/
table {
    border-collapse: collapse;
    width: 100%;
}

/*.requisition-cell {*/
    /*max-height: 20px;*/
/*}*/
body {
    font-size: 8px;
    font-family: Arial, sans-serif;
}

.webkit-print thead {
    visibility: hidden;
}
td, th {
    vertical-align: top;
    text-align: left;
}
span[class^='cell-'] {
 display: block;
 padding: 3px;
 word-wrap: break-word;
    height: 31px;
    overflow: hidden;
    line-height: 11px;
}
.cell-small {
 max-width: 64px;
}
th span[class^='cell-'] {
    max-height: 54px;
    height: auto;
}
.cell-medium {
 width: 90px;
}
.cell-large {

}

@page {
    size: A4 landscape;
}
@media print {

    .webkit-print thead {
        visibility: visible;
    }
}

