.page-break { page-break-after:always;}

div.summary-info {
    page-break-after: always;
}

div.requisition-info {
    page-break-after: always;
}

.tableColumn {
    width: 20px;
}
table {
    border-collapse: collapse;
}
thead {
    visibility: hidden;
}
td, th {
    vertical-align: top;
    text-align: left;
}
.list table:first-child {
    background: red;
}


@page {
    size: A4 landscape;
}
@media print {
    thead {
        visibility: visible;
    }
    body {
        font-size: 8px;
    }

}

