<!DOCTYPE html>
<html ng-app>
<head>
  <title></title>
  <script src="lib/angular.min.js"></script>
  <script src="js/main.js"></script>
</head>
<body>

<form id="form1" ng-controller="FormController">
  <div>
    <input type="text" ng-model="object.code"/>
  </div>

  <br/>

  <div>
    <input type="text" ng-model="object.name"/>
  </div>

  <br/>

  <div>
    <textarea ng-model="object.description"></textarea>
  </div>
  <br/>

  <div>
    <input type="button" value="Save" ng-click="save(object)"/>
  </div>
  <br/>
</form>
</body>
</html>